<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">
      <h1>Address Book</h1>

      <h1>Contacts Cleared!</h1>
      <p><a href="/contact/new">Add a contact</a></p>


    </div>
  </body>
</html>
