<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">
    <h1>Address Book</h1>
    <h3>Details for @Model.GetName() </h3>
    <hr>
    <h4>Phone: @Model.GetPhone()</h4>
    <h4>Home Address: @Model.GetAddress()</h4>
    <hr>
    <form  action="/contact" method="post">
      <input type="hidden" name="contact-id" id="contact-id" value="@Model.GetId()">
      <button type="submit" name="remove" class="btn">Remove Contact</button>
    </form>
    <hr>
    <p><a href="/contact/new">Add a contact</a></p>
    <p><a href="/">View All Contacts</a></p>
    <p><a href="/contact/search">Search for a contact</a></p>
    </div>
  </body>
</html>
