<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">
      <h1>Address Book</h1>
      <h2>Add a contact: </h2>
      <form  action="/contact/new" method="post">
        <input type="text" name="name" class="form-control" placeholder="Name">

        <input type="text" name="phone" class="form-control" placeholder="Phone Number">

        <input type="text" name="street" class="form-control" placeholder="Street Address">

        <input type="text" name="city" class="form-control" placeholder="City">

        <input type="text" name="state" class="form-control" placeholder="State" >

        <input type="text" name="zip" class="form-control" placeholder="Zipcode">
        <button type="submit" name="button" class="btn">Add Contact</button>
      </form>
      <hr>
      <nav>
        <p><a href="/">View Contacts</a></p>
      </nav>
    </div>
  </body>
</html>
