<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">
      <h1>Address Book</h1>
      <h3>Search Results</h3>
      <hr>

      @foreach (var contact in Model)
      {
        <p>
          <a href="/contact/@contact.GetId()">@contact.GetName()</a>
        </p>
      }
      <hr>
      <nav>
        <p><a href="/contact/search">Search for a contact</a></p>
        <p><a href="/">View All Contacts</a></p>
        <p><a href="/contact/new">Add a contact</a></p>
      </nav>
    </div>
  </body>
</html>
